<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Fullstack Capstone for Thinkful by Thomas and Jonathan">
    <title>Home Page</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <header class="header-root">

    </header>
    
    <main class="container">
        <div class="content-root">

        </div>
    </main>




    <!-- <footer>
      This is a footer.
    </footer> -->

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../app.js"></script>
  </body>
</html>
