<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <header>
      <div class="head">
        <a href="#"><h2>Raid.io</h2></a>
      </div>

      <div class="account-controls col-3">
        <ul>
          <li><a href="#">Signup</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </header>
<main class="container">
  <div class="row">
    <div class="col-3 filter-box">
      <h4>Filters</h4>
      <ul>
        <li>This is a filter</li>
        <li>This is a filter</li>
        <li>This is a filter</li>
      </ul>
    </div>
    <div class="team-post col-8">
      <h3>This is a team name!
        <small>6/12/2017</small>
      </h3>
      <img class="team-thumb" src="http://placehold.it/850x350" alt="Raid team thumbnail image"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="post-callout">
        <ul class="col-3 callout-left">
          <li>Raid Leader: Someone</li>
          <li>Open Roles: ....stuff</li>
        </ul>
        <ul class="callout-right col-3">
          <li><a class="button" href="#" aria-label="Apply to join a raid team">Apply</a></li>
        </ul>
      </div>
    </div>

    <div class="team-post col-8">
      <h3>This is a team name!
        <small>6/12/2017</small>
      </h3>
      <img class="team-thumb" src="http://placehold.it/850x350" alt="Raid team thumbnail image"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="post-callout">
        <ul class="col-3 callout-left">
          <li>Raid Leader: Someone</li>
          <li>Open Roles: ....stuff</li>
        </ul>
        <ul class="callout-right col-3">
          <li><a class="button" href="#" aria-label="Apply to join a raid team">Apply</a></li>
        </ul>
      </div>
    </div>

    <div class="team-post col-8">
      <h3>This is a team name!
        <small>6/12/2017</small>
      </h3>
      <img class="team-thumb" src="http://placehold.it/850x350" alt="Raid team thumbnail image"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="post-callout">
        <ul class="col-3 callout-left">
          <li>Raid Leader: Someone</li>
          <li>Open Roles: ....stuff</li>
        </ul>
        <ul class="callout-right col-3">
          <li><a class="button" href="#" aria-label="Apply to join a raid team">Apply</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>




    <!-- <footer>
      This is a footer.
    </footer> -->
  </body>
</html>
