<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <header>
      <div class="head">
        <a href="#"><h2>Raid.io</h2></a>
      </div>

      <div class="account-controls col-3">
        <ul>
          <li><a href="#">Logout</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
    </header>

    <div class="container">
      <div class="row nav-bar">
          <nav aria-label="Navigation bar" role="navigation">
            <ul class="nav-list">
              <li><a class="nav-tab" href="#" aria-label="Go to my profile">My Profile</a></li>
              <li><a class="nav-tab" href="#" aria-label="Go to my team">My Team</a></li>
            </ul>
          </nav>
      </div>
      <br>
      <div class="row">
        <div class="col-6 column-left">
          <img class="team-thumb" src="http://placehold.it/650x350" alt="Raid team thumbnail image" />
        </div>
        <div class="col-6 column-right">
          <h3>Team Name!!</h3>
          <p>Meggings microdosing XOXO sartorial butcher hot chicken post-ironic, drinking vinegar asymmetrical lomo hashtag hexagon. Drinking vinegar hexagon coloring book franzen. Et photo booth lumbersexual, irony chartreuse beard tumblr magna cliche post-ironic. Occupy locavore forage, scenester eu mumblecore kale chips. Esse you probably haven't heard of them id +1 try-hard next level. Jianbing edison bulb readymade, dreamcatcher kale chips adipisicing chartreuse typewriter godard lyft dolor williamsburg bespoke anim. Austin aute vice ennui, plaid dolore mlkshk man braid in.
          </p>
        </div>
      </div>



      <hr>
      <div class="col-12">
        <ul class="nav-list">
          <li><a id="team-members-link" class="team-member-toggle" href="#">Team Members</a></li>
          <li><a id="team-applicants-link" class="team-member-toggle" href="#">Applicants</a></li>
        </ul>
        <br>
      </div>



      <div class="team-members-content">
          <div class="row">
            <div class="team-member">
              <div class="col-3 column-left">
                <img class="team-member-thumb" src="http://placehold.it/200/200" alt="Team member image">
              </div>
              <div class="col-9 column-right">
                <h5>This is somebody's name</h5>
                <h6>This is a role and class name</h6>
                <p>Tilde drinking vinegar pok pok, swag raw denim pork belly crucifix raclette air plant authentic kinfolk wolf helvetica synth thundercats. Neutra copper mug 8-bit gochujang. Af venmo vexillologist fashion axe, narwhal schlitz artisan portland.</p>
                <ul class="team-member-controls nav-list">
                  <li><a class="button-good js-team-accept" href="#">Accept</a></li>
                  <li><a class="button-bad js-team-reject" href="#">Reject</a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="team-member">
              <div class="col-3 column-left">
                <img class="team-member-thumb" src="http://placehold.it/200/200" alt="Team member image">
              </div>
              <div class="col-9 column-right">
                <h5>This is somebody's name</h5>
                <h6>This is a role and class name</h6>
                <p>Tilde drinking vinegar pok pok, swag raw denim pork belly crucifix raclette air plant authentic kinfolk wolf helvetica synth thundercats. Neutra copper mug 8-bit gochujang. Af venmo vexillologist fashion axe, narwhal schlitz artisan portland.</p>
                <ul class="team-member-controls nav-list">
                  <li><a class="button-good js-team-accept" href="#">Accept</a></li>
                  <li><a class="button-bad js-team-reject" href="#">Reject</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="team-member">
              <div class="col-3 column-left">
                <img class="team-member-thumb" src="http://placehold.it/200/200" alt="Team member image">
              </div>
              <div class="col-9 column-right">
                <h5>This is somebody's name</h5>
                <h6>This is a role and class name</h6>
                <p>Tilde drinking vinegar pok pok, swag raw denim pork belly crucifix raclette air plant authentic kinfolk wolf helvetica synth thundercats. Neutra copper mug 8-bit gochujang. Af venmo vexillologist fashion axe, narwhal schlitz artisan portland.</p>
                <ul class="team-member-controls nav-list">
                  <li><a class="button-good js-team-accept" href="#">Accept</a></li>
                  <li><a class="button-bad js-team-reject" href="#">Reject</a></li>
                </ul>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </body>
</html>
