<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <header>
      <div class="head">
        <a href="#"><h2>Raid.io</h2></a>
      </div>

      <div class="account-controls col-3">
        <ul>
          <li><a href="#">Logout</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
    </header>

    <div class="row nav-bar">
        <nav aria-label="Navigation bar" role="navigation">
          <ul class="nav-list">
            <li><a class="nav-tab" href="#" aria-label="Go to my profile">My Profile</a></li>
            <li><a class="nav-tab" href="#" aria-label="Go to my team">My Team</a></li>
          </ul>
        </nav>
    </div>
    <br>
    <div class="row">
      <div class="col-6 column-left">
        <img class="team-thumb" src="http://placehold.it/650x350" alt="Raid team thumbnail image" />
      </div>
      <div class="col-6 column-right">
        <h3>Team Name!!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="row">
        <hr>
        <div class="team-members-content">
            <h4>Team Members</h4>
            <div class="team-member">
              <div class="col-3">
                <img class="team-member-thumb" src="http://placehold.it/200/200" alt="Team member image">
              </div>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
